apiVersion: v1
kind: Secret

metadata:
  name: backend-secret
  namespace: cipherwatch

type: Opaque

stringData:
  DB_HOST: db
  DB_PORT: "3306"
  DB_USER: aura
  DB_PASSWORD: <YOUR_DB_PASSWORD>
  DB_NAME: e_com
  JWT_SECRET: <YOUR_JWT_SECRET>
  GEMINI_API_KEY: <YOUR_GEMINI_API_KEY>
